.amarillo{
	width: 200px;
	height: 100px;
	background-color: yellow;
	font-size: 18px;
	padding: 10px;
	margin-top: 10px;
}
.rojo{
	width: 200px;
	height: 100px;
	background-color: red;
	font-size: 18px;
	padding: 10px;
	margin-top: 10px;
}